<h3>Create a Recommendation</h3>

<form action="/create" method="post">
  <input type="text" name="place" value="" placeholder="Name of place">
  <input type="text" name="type_of_place" value="" placeholder="Type of place">
  <input type="text" name="contributor" value="" placeholder="Please enter your name">
  <input type="text" name="notes" value="" placeholder="notes">
  <input type="submit" name="contributor" value="Add an item">
</form>
